/* ==UserStyle==
@name YCombinator News Dark
@type less
==/UserStyle== */

@-moz-document domain("news.ycombinator.com") {
  :root {
    --background: #000;
    --bg-text: #111;
    --text-colour: #eee;
    --link-primary: #ffc39c;
    --link-visited: #887d6b;
  }
  
  body {
    background: var(--background);
    color: var(--text-colour);
  }
  
  table[id="hnmain"] {
    background: var(--bg-text);
  }
  
  a:link {
    color: var(--link-primary);
  }
  
  a:visited {
    color: var(--link-visited);
  }
  
  .c00, .c00 a:link {
    color: var(--text-colour);
  }
  
  textarea {
    background: var(--bg-text);
    color: var(--text-colour);
  }
}
